

    body {
        padding: 2rem;
        font-size: 1.2rem;
    }

    .generate-btn {
        background-color: yellow;
        color: orange;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .results {
        margin: 2rem;
    }

    .multipleOfThree {
        color: red;
    }

    .multipleOfFive {
        color: blue;
    }

    .multipleOfThreeAndFive {
        color:green;
    }

    .notAMultiple {
        color:black;
        text-decoration: underline;
    }