

body {
    background: #212121;
    font-family: arial;
    margin: 20px;
    color: white;
    text-align: center;
}
.tabs {
    min-height: 30px;
    margin: 0px auto;
    border-width: 2px 2px 0px;
    text-align: left;
    user-select: none;
}
.tab {
    display: inline-block;
    border: 1px solid #365c5c;
    border-width: 2px 2px 0px;
    background-color:  #202727;
    padding: 6px;
    text-align: center;
    cursor: pointer;
}
.app {
    display: block;
    font-size: 24px;
    margin: 0px auto;
    background-color:  #202727;
    text-align: left;
}
.active {
    background: #365c5c;
}
.inactive {
    background: #1f2525;
}
.widget {
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    background: #273b39;
    padding: 8px;
    border: 1px solid #385f5d;
}
.pane {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.search {
    width: 40%;
}
.info{
    width: 55%;
}
input {
    font-size: 16px;
    width: 200px;
}
.btn {
    display: inline-block;
    width: 100px;
    border: 2px solid white;
    background-color: #7c7c7c;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.toolbar {
    text-align: left;
    padding: 10px;
}
.tool {
    margin: 10px;
}
.btn:hover {
    background-color: #565656;
}
.list {
    margin: 4px;
    padding: 4px;
    overflow-y: auto;
}
.nutrients {
    max-height: 100px;
}
.list-item {
    display: block;
    padding: 2px;
    margin: 4px;
    cursor: pointer;
    color: #c3c3c3;
}
.list-item:hover {
    padding-left: 6px;
    color: #3bd1b5;
}